.template-component {
    position: relative;
    padding: 32px 20px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background);
}
.template-component__name {
    margin-bottom: 20px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    color: var(--font-1);
}
.template-component__tabs {
    margin-top: 25px;
}
.template-component__tooltip {
    margin: 50px 0 0 50px;
}
.template-component__calendar {
    width: 300px;
}
.template-component__form-elements {
    margin: 50px 0;
    width: 300px;
}
.template-component__histogram {
    width: 300px;
}
.template-component__code {
    max-width: 100%;
    overflow-x: auto;
    color: var(--font-1);
}

@media screen and (min-width: 992px) {
    .template-component {
        padding: 32px 50px;
        align-items: flex-start;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    }
    .template-component__name {
        font-size: 28px;
    }
}
