.skeleton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 40px 32px 24px;
    width: 300px;
    height: 192px;
    border: solid 1px var(--font-3);
    border-radius: 8px;
}
.skeleton__header {
    display: flex;
    align-items: center;
    gap: 16px;
}
.skeleton__picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.skeleton__title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.skeleton__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.skeleton__line {
    height: 20px;
}
.skeleton__line_name {
    width: 100px;
}
.skeleton__line_surname {
    width: 150px;
}
.skeleton__line_text {
    width: 250px;
}
.skeleton__line, .skeleton__picture {
    background-image: linear-gradient(267.58deg, var(--font-4) 0%, var(--grey-1) 80%, var(--font-4) 100%);
    background-size: 200%;
    animation-name: move-background;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes move-background {
    0% {
        background-position: -100%;
    }
    0% {
        background-position: 100%;
    }
}
@media screen and (min-width: 768px) {
    .skeleton {
        width: 579px;
    }
    .skeleton__line_name {
        width: 172px;
    }
    .skeleton__line_surname {
        width: 257px;
    }
    .skeleton__line_text {
        width: 515px;
    }
}

