.accordion{
    height: 72px;
    position: relative;
    box-sizing: border-box;
    padding: 24px 32px;
    max-width: 730px;
    background-color: var(--background);
    border: solid 1px var(--font-3);
    border-radius: 8px;
    transition: height 100ms ease-in-out;
}
.accordion[open] {
    height: auto;

}
.accordion[open] .accordion__trigger {
    transform: rotate(180deg);
}
.accordion__summary {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.accordion__trigger {
    width: 26px;
    height: 26px;
}
.accordion__title {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--font-1);
}
.accordion__title::marker {
    display: none;
}
.accordion__body {
    padding-top: 16px;
    color: var(--font-2);
}
.accordion__group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

