.preview {
    flex-grow: 1;
    background-color: var(--background-1);
    transition: background-color 200ms;
}
.preview__container {
    padding: 23px 15px 50px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 15px;
}